*, *::before, *::after {
  box-sizing: border-box;
}
@import 'normalize';
@import 'base/variables';

body {
  padding: 1.5em;
}

.message-base {
  border: 2px solid $red;
  color: $red;
  padding: 1em;
  border-radius: 5px;
}

.message-info {
  border: 2px solid $blue;
  color: $blue;
  padding: 1em;
  border-radius: 5px;
}

.message-success {
  border: 2px solid $green;
  color: $green;
  padding: 1em;
  border-radius: 5px;
}
